/* Позиционирование */
/* Блочная модель */
/* Типографика */
/* Оформление */
/* Анимация */
/* Разное */


/*Общие стили*/

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

/*Ссылки*/

a {
  text-decoration: none;
  color: inherit;
  font: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.centered {
  text-align: center;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

.page-header__top a,
.main-menu a,
.footer-menu__list a {
  color: #ffffff;
}

/*Списки*/

.main-menu__list,
.breadcumbs,
.service-block__menu,
.footer-menu__list,
.services-menu__list,
.sort,
.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Кнопки*/

.btn {
  position: relative;
  display: inline-block;
  min-height: 38px;
  min-width: 150px;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding: 10px 5px;
  text-align: center;
  vertical-align: top;
  background-color: #ee3643;
  border-right: 2px;

  /*box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.35);*/
}
  .btn:hover, .btn:focus {
    background-color: #ca2c37;
  }

  .btn:active {
    background-color: #ba2732;
  }

  .btn:visited {
    background-color: none;
  }

  .btn.btn--uppercase {
    text-transform: uppercase;
  }

  .btn.btn--buy {
    min-width: 135px;
    min-height: 35px;
    margin-bottom: 12px;
    padding: 9px 5px;
    color: #ffffff;
    background-color: #63a63e;
    text-transform: uppercase;
  }
    .btn.btn--buy:hover, .btn.btn--buy:focus {
      background-color: #5fbb2d;
    }
    .btn.btn--buy:active {
      background-color: #518534;
    }

    .user-block .btn {
      padding: 9px 25px;
      color: #000000;
      font-size: 21px;
      line-height: 21px;
      background-color: #ffffff;
    }

    .btn.btn--person {
      padding: 9px 0;
      padding-left: 45px;
      padding-right: 5px;
      margin-right: 15px;
      color: #000000;
      font-size: 21px;
      line-height: 21px;
      background-color: #ffffff;
    }

    .btn.btn--login {
      min-width: 120px;
      padding-left: 35px;
      padding-right: 14px;
      margin-right: 10px;
    }
      .btn.btn--login:hover, .btn.btn--login:focus {
        color: #ee3643;
      }
      .btn.btn--login:active, .btn.btn--login:active {
        color: rgba(0, 0, 0, 0.3);
      }

      .btn.btn--login::before {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        top: 12px;
        left: 10px;
        background-image: url('../img/icon-login.svg');
        background-repeat: no-repeat;
        background-position: 0 0;
        opacity: 0.3;
      }
    .btn.btn--login:hover::before, .btn.btn--login:focus::before {
      opacity: 1;
    }

    .btn.btn--login:active::before {
      opacity: 0.3;
    }

    .btn.btn--logout {}
    .btn.btn--registration {
      width: 150px;
    }
      .btn.btn--registration:hover, .btn.btn--registration:focus {
        color: #ee3643;
      }

  .page-header__user-control .btn {
    padding: 12px 10px;
    font-size: 17px;
  }

  .btn.user-block__person {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 38px;
    padding-right: 5px;
  }

  .btn.user-block__person::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    top: 6px;
    left: 4px;
    background-image: url('../img/icon-user.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
  }

  .btn.btn--bookmarks {
    padding-left: 35px;
    padding-right: 22px;
    background-color: transparent;
  }

    .btn.btn--bookmarks::before {
      content: "";
      position: absolute;
      height: 16px;
      width: 16px;
      top: 12px;
      left: 16px;
      background-image: url('../img/icon-bookmark.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      opacity: 0.3;
    }

  .btn.btn--basket {
    padding-left: 30px;
    padding-right: 8px;
    background-color: transparent;
  }

    .btn.btn--basket::before {
      content: "";
      position: absolute;
      height: 16px;
      width: 16px;
      height: 16px;
      top: 12px;
      left: 16px;
      background-image: url('../img/icon-cart.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
      opacity: 0.3;
    }

    .btn.btn--bookmarks:hover::before,
    .btn.btn--bookmarks:focus::before,
    .btn.btn--basket:hover::before,
    .btn.btn--basket:focus::before  {
      opacity: 1;
    }
    .btn.btn--bookmarks:active,
    .btn.btn--basket:active,
    .btn.btn--bookmarks:active::before,
    .btn.btn--basket:active::before {
      opacity: 0.6;
    }

  .btn.btn--order {
    background-color: #63a63e;
  }

  .btn.btn--order:hover, .btn.btn--order:focus {
    background-color: #5fbb2d;
  }

  .btn.btn--order:active {
    background-color: #518534;
  }

.btn.btn--not-empty {
  background-color: #ee3643;
}

/*Заголовки*/

.heading2, .heading3 {
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: normal;
}

.main-title {
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 35px;
  padding-right: 35px;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
  font-family: "Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

/*Метка "новинка"*/

.label-new {
  display: block;
  height: 28px;
  width: 100px;
  padding-right: 6px;
  padding-top: 3px;
  position: absolute;
  right: -31px;
  top: 9px;
  background-color: #ff5357;
  color: #ffffff;
  font-family: "PT Sans Narrow","Arial",sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  transform: rotate(45deg);
}

/*ПО СТРУКТУРЕ САЙТА*/
/*Шапка*/

.page-header {
  font-family: "Cuprum","Arial",sans-serif;
  background-color: #f3f7f8;
  overflow: hidden;
}

  /*Верхняя плашка с поиском*/
  .page-header__top {
    min-height: 42px;
    background-color: #293449;
    text-align: center;
  }
    .page-header__top .wrapper {
      min-height: 42px;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
    }

      .logo {
        width: 220px;
        min-height: 42px;
        padding: 9px 10px;
        font-size: 24px;
        line-height: 24px;
        box-shadow: 0px 5px 0px 0px  #c23f42;
        text-transform: uppercase;
        text-align: center;
        color: #ffffff;
        background-color: #ee3643;
        font-weight: normal;
        margin: 0;
        margin-right: auto;
      }

        .logo:hover, .logo:focus {
          background-color: #ca2c37;
        }
        .logo:active {
          background-color: #ba2732;
        }

      .search {
        margin-right: auto;
      }
        .search__label {
          padding-left: 17px;
          position: absolute;
          top: 12px;
          opacity: 0.3;
        }

        .search__input-field {
          width: 230px;
          min-height: 42px;
          margin-left: 38px;
          padding: 10px;
          color: #ffffff;
          background-color: #293449;
          border: none;
          font-family: "Cuprum","Arial",sans-serif;
          font-size: 17px;
          line-height: 18px;
        }
          .form.search:hover .search__label {
            opacity: 1;
          }

          .form.search:focus .search__label path{
            fill: #ee3643;
          }

          .search__input-field:focus {
            background-color: #ffffff;
            color: #000000;
            border: none;
          }

      .page-header__user-control {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
      }


  /*Блок с заголовком и контактами*/
  .page-header__main {
    padding-left: 51px;
    padding-top: 48px;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }
    .site-name {
      width: 200px;
      margin: 0;
      font-size: 16px;
      font-style: italic;
      line-height: 23px;
      font-weight: 300;
      color: #ff5357;
      text-transform: none;
    }
    .contact-block {
      text-align: center;
      display: flex;
      flex-direction: column;
      margin-left: 20px;
    }
      .contact__phone {
        position: relative;
        color: #fb463c;
        width: 265px;
        min-height: 46px;
        font-size: 21px;
        line-height: 18px;
        border: 3px solid #ffffff;
        padding-top: 8px;
        padding-bottom: 11px;
        padding-left: 65px;
        padding-right: 45px;
      }

      .contact__phone::before {
        content: "";
        position: absolute;
        height: 20px;
        width: 20px;
        top: 8px;
        left: 10px;
        background-image: url('../img/icon-phone.svg');
        background-repeat: no-repeat;
        background-position: 0 0;
      }

      .contact__address {
        color: #3d546e;
        font-size: 14px;
        line-height: 24px;
      }
    .user-block {
      display: flex;
      min-width: 300px;
      min-height: 68px;
      justify-content: flex-end;
      align-items: flex-start;
      text-align: center;
    }
      .user-block.user-block--person {
        flex-direction: column;
        justify-content: space-around;
      }
      .user-block__button-logout span{
        display: inline-block;
        font-size: 0px;
        width: 20px;
        height: 20px;
        background-image: url('../img/icon-logout.svg');
        background-repeat: no-repeat;
        background-position: 0 0;
      }

      .user-block__wrap {
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;
        min-height: 45px;
        background-color: #ffffff;
      }
      .user-block__button-logout {
        margin-top: -5px;
      }
      .user-block__inner-control {
        margin-left: 20px;
        position: relative;
        display: flex;
        justify-content: center;
        font-size: 16px;
        line-height: 18px;
        color: #32425c;
        text-decoration: underline;
      }
        .user-block__inner-control a:not(:last-child) {
          padding-right: 30px;
          position: relative;
        }

        .user-block__inner-control a:not(:last-child)::after {
          position: absolute;
          right: -3px;
          top: 7px;
          content:"";
          font-size: 0px;
          width: 20px;
          height: 20px;
          background-image: url('../img/dot.svg');
          background-repeat: no-repeat;
          background-position: 0 0;
        }

  /*Главное меню*/
  .main-menu {
    min-height: 55px;
    margin-top: 40px;
    margin-bottom: 65px;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
    background-color: #3d546e;
    border-bottom: 6px solid #33445a;
  }
    .main-menu__list {
      margin: 0;
      padding: 0 23px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
      .main-menu__item {
        display: inline-block;
        min-width: 100px;
        min-height: 54px;
        line-height: 17px;
        padding-top: 20px;
        padding-bottom: 16px;
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
      }

        .main-menu__item:hover, .main-menu__item:focus {
          background-color: #293449;
        }
        .main-menu__item:active {
          color: rgba(255, 255, 255, 0.5);
          background-color: #1d2739;
        }

/*Хлебные крошки*/
.breadcumbs {
  min-height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
  .breadcumbs__item {
    position: relative;
    line-height: 18px;
    padding-right: 50px;
  }
    .breadcumbs__item a {
      position: relative;
      color: #000000;
      text-transform: uppercase;
    }

    .breadcumbs__item:first-of-type a::before {
      content: "";
      position: absolute;
      height: 15px;
      width: 15px;
      top: 5px;
      left: -2px;
      background-image: url('../img/icon-home.svg');
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    .breadcumbs__item:not(:first-of-type)::before {
      content: "";
      position: absolute;
      height: 10px;
      width: 10px;
      top: 4px;
      left: -30px;
      border-bottom: 1px solid #c5c9d1;
      border-right: 1px solid #c5c9d1;
      transform: rotate(-45deg);
    }

/*Блок с картинками и кнопками*/
.promo-block {
  min-height: 410px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 54px;
}
  .promo-block__item {
    position: relative;
    background-color: #cccccc;
    padding: 26px;
  }

    .promo-block__item .btn {
      min-width: 135px;
      margin-left: 4px;
      margin-top: 13px;
      background-color: rgba(0, 0, 0, 0.1);
      text-align: center;
      border-radius: 2px;
    }

      .promo-block__item .btn:hover, .promo-block__item .btn:focus {
        background-color: rgba(0, 0, 0, 0.2);
      }
      .promo-block__item .btn:active {
        background-color: rgba(0, 0, 0, 0.3);
      }

    .promo-block__item.promo-block__item--small {
      width: 300px;
      min-height: 125px;
      padding: 20px;
      text-align: left;
      background-color: red;
      overflow: hidden;
    }

    .slider {
      position: relative;
      width: 620px;
      min-height: 266px;
      order: 1;
    }
      .slider__item {
        height: 266px;
      }
        .slider__wrap {
          position: absolute;
          min-height: 105px;
          padding-left: 24px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          text-align: left;
        }
          .slider__title {
            margin:0;
            margin-bottom: 2px;
            font-family: "Cuprum", "Arial", sans-serif;
            font-weight: normal;
            font-size: 36px;
            line-height: 30px;
            font-weight: bold;
            text-transform: uppercase;
            color: #ffffff;
          }
          .slider__description{
            font-family: "PT Sans", "Arial", sans-serif;
            font-size: 18px;
            line-height: 24px;
            color: #ffffff;
          }
          .slider__control {
            position: absolute;
            cursor: pointer;
          }
            .slider__control.slider__control--left {
              width: 22px;
              min-height: 40px;
              top: calc(50% - 20px);
              left: 25px;
              background: transparent url(../img/icon-left.svg) 0 0 no-repeat;
              font-size: 0;
            }
            .slider__control.slider__control--right {
              width: 22px;
              min-height: 40px;
              top: calc(50% - 20px);
              right: 20px;
              background: transparent url(../img/icon-right.svg) 0 0 no-repeat;
              font-size: 0;
            }

            .slider__control.slider__control--link {
              bottom: 22px;
              left: 27px;
              width: 195px;
            }

        .slider__image {}
    .promo-block__column-1 {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
      width: 620px;
    }
    .promo-block__column-2 {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .promo-block__item-title {
      margin: 0px;
      font-size: 24px;
      font-weight: bold;
      line-height: 30px;
      color: #ffffff;
    }

    .promo-block__item.promo-block__item--color-orange {
      background-color: #ffbf47;
    }
    .promo-block__item.promo-block__item--color-blue {
      background-color: #3bbce3;
    }
    .promo-block__item.promo-block__item--color-pink {
      background-color: #dc91d8;
    }
    .promo-block__item.promo-block__item--color-green {
      background-color: #8ed78f;
    }
    .promo-block__item.promo-block__item--color-lightorange {
      background-color: #ffc047;
    }
    .promo-block__item.promo-block__item--item-material {
      background-image: url('../img/icon-1.svg');
      background-repeat: no-repeat;
      background-position: 212px 32px;
    }
    .promo-block__item.promo-block__item--item-tool {
      background-image: url('../img/icon-2.svg');
      background-repeat: no-repeat;
      background-position: 198px 34px;
    }
    .promo-block__item.promo-block__item--item-technuque {
      background-image: url('../img/icon-3.svg');
      background-repeat: no-repeat;
      background-position: 190px 33px;
    }
    .promo-block__item.promo-block__item--item-discount {
      background-image: url('../img/icon-4.svg');
      background-repeat: no-repeat;
      background-position: 195px 28px;
    }
    .promo-block__item.promo-block__item--item-delivery {
      background-image: url('../img/icon-5.svg');
      background-repeat: no-repeat;
      background-position: 190px 34px;
    }


.heading-wrap {
  padding: 24px 27px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f5f0;
}

/*Популярные товары*/
.popular-products {
  margin-top: 55px;
}
  .popular-products__title {
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #3d546e;
    text-transform: uppercase;
  }
  .popular-products__link {
    width: 252px;
  }
  .products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
    .products__item {
      margin-bottom: 20px;
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: space-between;
      width: 220px;
      min-height: 320px;
      font-family: "PT Sans", "Arial", sans-serif;
      border: 1px solid #e5e5e5;
      flex-basis: 220px;
      overflow: hidden;
    }
      .products__item:hover, .products__item:focus {
        border: 1px solid transparent;
        box-shadow: 0px 10px 25px 0px #293449;
      }
      .products__control {
        display: none;
        margin: auto;
        min-width: 135px;
        position: absolute;
        top: 45px;
        left: calc(50% - 67px);
        flex-direction: column;
        text-align: center;
      }
      .products__item:hover > .products__control, .products__item:focus > .products__control {
        display: flex;
      }
      .products__item:hover > .products__item-picture, .products__item:focus > .products__item-picture {
        visibility: hidden;
      }
        .products__control-bookmark, .products__control-bookmark:visited{
          min-width: 130px;
          min-height: 35px;
          padding: 9px 5px;
          color: #000000;
          background-color: #ffffff;
          text-transform: uppercase;
          border: 2px solid #63a63e;
        }
        .products__control-bookmark:hover, .products__control-bookmark:focus {
          border: 2px solid #000000;
        }
        .products__control-bookmark:active {
          opacity: 0.3;
        }

      .products__item-picture {}
      .products__item-title {
        margin: 5px auto auto;
        padding: 0 25px;
        text-align: center;
        font-family: "PT Sans", "Arial", sans-serif;
        font-size: 18px;
        line-height: 20px;
        font-weight: bold;
        color: #000000;
      }
      .products__item-price {
        background-color: #ee3643;
        border-radius: 2px;
        color: #ffffff;
        font-size: 17px;
        font-weight: bold;
        line-height: 18px;
        margin: 0 auto 20px;
        min-height: 38px;
        text-align: center;
        width: 130px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }

        .products__item-price.products__item-price--arrow::after {
          content: "";
          width: 0;
          height: 0;
          position: absolute;
          right: -18px;
          top: 0;
          border: 19px solid transparent;
          border-left-color: #ee3643;
          border-right: 0;
        }

        .products__item-price.products__item-price--strike {
          font-size: 17px;
          font-weight: bold;
          line-height: 18px;
          color: #a9a9a9;
          text-decoration: line-through;
          text-align: center;
          background-color: transparent;
          margin: auto;
        }

/*Популярные производители*/
.popular-manufacturers {}
  .popular-manufacturers__title {
    margin: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    color: #3d546e;
    text-transform: uppercase;
  }
  .popular-manufacturers__link {
    width: 255px;
  }
  .popular-manufacturers__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
    .popular-manufacturers__item {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 220px;
      min-height: 145px;
      margin-bottom: 20px;
      border: 1px solid #e5e5e5;
    }
      .popular-manufacturers__item:hover, .popular-manufacturers__item:focus {
        border:none;
        box-shadow: 0px 10px 25px 0px #293449;
      }

      .popular-manufacturers__item:active{
        border:none;
        box-shadow: 0px 10px 25px 0px #293449;
        opacity: 0.5;
      }

      .popular-manufacturers__item:active > .popular-manufacturers__item-picture{
        opacity: 0.3;
      }


/*Сервисный блок*/
.service-wrap {
  margin-top: 70px;
  display: flex;
}

.service-block {
  margin-top: 65px;
  padding: 45px 0;
  padding-bottom: 20px;
  background-color: #f4f7f9;
}

.service-block__item {
  margin-left: 80px;
  width: 280px;
}
.service-block__menu {
  display: flex;
  flex-direction: column;
}

    .service-block__item-title {
      margin-top:0;
      margin-bottom: 30px;
      font-family: "Cuprum","Arial",sans-serif;
      font-weight: normal;
      font-size: 36px;
      line-height: 24px;
      color: #3d546e;
      text-transform: uppercase;
    }

    .service-block__menu-item {
      position: absolute;
      left: 50%;
      bottom: 15px;
      z-index: 100;
      visibility: hidden;
      margin: 0;
      padding: 0;
    }
    .service-block__menu label {
      padding:10px 20px;
      width: 240px;
      min-height: 60px;
      background-color: #3d546e;
      font-family: "Cuprum","Arial",sans-serif;
      color: #ffffff;
      box-shadow: inset 0 0 1px #33445a;
      font-size: 21px;
      line-height: 30px;
      font-weight: bold;
    }

    .service-block__item .btn {
      display: block;
      width: 195px;
      margin-top:30px;
    }


    #service-delivery_v2:checked ~ .service-block__menu label[for="service-delivery_v2"],
    #service-warranty_v2:checked ~ .service-block__menu label[for="service-warranty_v2"],
    #service-credit_v2:checked ~ .service-block__menu label[for="service-credit_v2"]{
      background-color: #ffffff;
      color: #3d546e;
      box-shadow: none;
    }

    #service-delivery_v2:hover ~ .service-block__menu label[for="service-delivery_v2"],
    #service-warranty_v2:hover ~ .service-block__menu label[for="service-warranty_v2"],
    #service-credit_v2:hover ~ .service-block__menu label[for="service-credit_v2"],
    #service-delivery_v2:focus ~ .service-block__menu label[for="service-delivery_v2"],
    #service-warranty_v2:focus ~ .service-block__menu label[for="service-warranty_v2"],
    #service-credit_v2:focus ~ .service-block__menu label[for="service-credit_v2"]{
      background-color: #293449;
      color: #ffffff;
      box-shadow:
        inset 0 1px 0 0 #405069,
        0 1px 0 0 #293449;
    }

.service-block__item {
  display: none;
}

  .service-block__item p {
    padding-top: 0;
    width: 280px;
  }


  .service-block__item.block1 {
    background-image: url("../img/delivery.svg");
    background-position: 152px 21px;
    background-repeat: no-repeat;
    min-height: 260px;
    width: 651px;
  }

  .service-block__item.block2 {
    background-image: url("../img/warranty.svg");
    background-position: 152px 21px;
    background-repeat: no-repeat;
    height: 261px;
    width: 651px;
  }

  .service-block__item.block3 {
    background-image: url("../img/credit.svg");
    background-position: 152px 21px;
    background-repeat: no-repeat;
    height: 261px;
    width: 651px;
  }

#service-delivery_v2:checked ~ .block1, #service-delivery_v2:focus ~ .block1,
#service-warranty_v2:checked ~ .block2, #service-warranty_v2:focus ~ .block2,
#service-credit_v2:checked ~ .block3, #service-credit_v2:focus ~ .block3 {
  display: block;
}

.service-block__title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  color: #3d546e;
  text-transform: uppercase;
}



/*Информация о компании и контакты*/
.two-columns-wrapper {
  display: flex;
  margin-top: 52px;
}
  .information-block {
    margin-right: 115px;
  }

    .information-block__title {
      font-size: 30px;
      line-height: 24px;
      text-transform: uppercase;
    }
    .information-block__slogan {
      margin-bottom: 25px;
    }

    .information-block__text {
      margin:0;
    }

    .information-block__list {
      list-style: none;
      padding-left: 35px;
    }
      .information-block__list li {
        margin-top: 20px;
      }

      .information-block__item {
        position: relative;
        font-family: "Cuprum", "Arial", sans-serif;
        font-size: 18px;
        line-height: 20px;
      }

      .information-block__item::before {
        content: "";
        display: block;
        position: absolute;
        top: 7px;
        left: -36px;
        height: 2px;
        width: 25px;
        background-color: #ff716f;
      }

    .information-block .btn {
      width: 220px;
      margin-top: 25px;
    }

  .contacts-block {
    width: 300px;
  }
    .contacts-block__title {
      font-size: 30px;
      line-height: 24px;
      text-transform: uppercase;
    }
    .contacts-block .btn {
      width: 300px;
      margin-top: 33px;
    }

    .contacts-block p{
      margin-bottom: 33px;
    }

/*Подвал*/
.footer {
  margin-top: 85px;
  font-family: "Cuprum","Arial",sans-serif;
}
.footer-row {
  display: flex;
  justify-content: space-between;
}
.footer-row:not(:first-child) {
  margin-top: 34px;
}

  .footer .logo {
    padding: 16px 5px;
    min-height: 63px;
    font-size: 30px;
    line-height: 30px;
    margin-right: auto;
  }
  .footer-top {
    min-height: 194px;
    background-color: #32425c;
    font-size: 18px;
    line-height: 24px;
    color: #f3f7f9;
  }
    .footer-menu {
      display: flex;
      width: 550px;
      align-items: flex-end;
    }
      .footer-menu__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
        .footer-menu__list a:hover, .footer-menu__list a:focus {
          text-decoration: underline;
        }

        .footer-menu__list a:active{
          opacity: 0.5;
          text-decoration: none;
        }
    .contacts {
      color: #ffffff;
      margin-right: auto;
      padding-left: 2px;
    }
      .contacts a{
        color: #ffffff;
        display: block;
      }
    .services-menu {
      width: 525px;
    }
      .services-menu__list {
        display: flex;
        justify-content: space-between;
      }
        .services-menu__list a{
          color: #ffda96;
        }
        .services-menu__list a:hover, .services-menu__list a:focus {
          text-decoration: underline;
        }
        .services-menu__list a:active {
          opacity: 0.5;
          text-decoration: none;
        }

  .footer-bottom {
    padding: 36px 2px 0;
    min-height: 107px;
    color: #ffffff;
    font-size: 16px;
    line-height: 18px;
    background-color: #293449;
  }

    .footer-bottom .wrapper {
      min-height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .copyright {
      width: 230px;
    }
    .social {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 160px;
      margin-right: auto;
      width: 130px;
    }
      .social__link {
        align-items: center;
        background-color: #29384a;
        border: 1px solid #29384a;
        border-radius: 50%;
        display: inline-flex;
        height: 41px;
        justify-content: center;
        width: 41px;
      }
        .social__link:hover, .social__link:focus, .social__link:active {
          background-color: #ee3643;
        }
        .social__link.social__link--vk {}
        .social__link.social__link--fb {}
        .social__link.social__link--insta {}
    .feedback {
      width: 160px;
      padding: 0 10px;
    }
    .authors {
      padding: 0 10px;
      padding-left: 40px;
      width: 150px;
    }
    .feedback a, .authors a {
      display: block;
      color: #ffda96;
    }
      .feedback a:hover, .feedback a:focus, .authors a:hover, .authors a:focus {
        text-decoration: underline;
      }
      .feedback a:active, .authors a:active {
        text-decoration: none;
        color: #ee3643;
      }

/*Каталог, фильтр и поиск*/
.catalog {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
  .filter {
    max-width: 220px;
  }
    .filter__title {
      min-height: 36px;
      display: block;
      padding: 9px 15px;
      margin-bottom: 22px;
      line-height: 18px;
      background-color: #f7f3ec;
      text-transform: uppercase;
    }
    .filter__form {}
      .filter__form fieldset {
        border: none;
      }
      .filter__form div.fieldset-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .filter__form div.fieldset-row:not(:last-of-type) {
        margin-bottom: 10px;
      }

      .filter__form fieldset:not(:last-of-type) {
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 15px;
      }
        .filter__form legend {
          padding: 20px 0;
          font-size: 17px;
          line-height: 30px;
          text-transform: uppercase;
          font-weight: bold;
        }
        .filter__form label {
          position: relative;
          display: block;
          margin-left: 25px;
          margin-bottom: 14px;
          font-size: 15px;
          line-height: 20px;
          text-transform: uppercase;
        }
        .range-fieldset #price-min, .range-fieldset #price-max {
          background-color: #f7f3ec;
          border: none;
          width: 95px;
          height: 35px;
          text-align: center;
          padding: 3px;
        }

        div.range-wrap {
          width: 220px;
          height: 80px;
          background-color: #f7f3ec;
        }

        .checkbox-fieldset label::before {
          content: "";
          display: block;
          height: 20px;
          width: 20px;
          position: absolute;
          top: 0;
          left: -25px;
          border: 2px solid #c5c5c5;
        }
        .radio-fieldset label::before{
          content: "";
          display: block;
          height: 20px;
          width: 20px;
          position: absolute;
          top: 0;
          left: -25px;
          border-radius: 50%;
          border: 2px solid #c5c5c5;
        }

        .btn.btn--filter {
          background-color: #ffffff;
          color: #000000;
          text-transform: uppercase;
          font-size: 13px;
          border: 1px solid #e5e5e5;
        }
  .catalog__main {
    max-width: 700px;
  }
  .sort {
    min-height: 36px;
    padding: 0px 15px;
    margin-bottom: 22px;
    line-height: 36px;
    display: flex;
    background-color: #f7f3ec;
    text-transform: uppercase;
  }

  .sort li {
    padding: 0 15px;
  }

    .sort__title {
      line-height: 36px;
      margin-right: auto;
    }
    .sort__type a {
      color: rgba(0, 0, 0, 0.3);
      border-bottom: 1px solid #ee3643;
    }

    .sort__type a:hover, .sort__type a:focus {
      color: #000000;
    }

    .sort__type a:active {
      color: #ee3643;
      border: none;
    }

      .sort__type.sort__type--current a {
        color: #ee3643;
      }

/*Пагинация*/
.pagination {
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
}
  .pagination__item {
    border: 1px solid #e5e5e5;
    min-height: 38px;
    line-height: 38px;
    padding: 0px 15px;
    margin-right: 15px;
  }

    .pagination__item:hover, .pagination__item:focus {
      border: 1px solid #bdc6ca;
    }

    .pagination__item:active {
      border: 1px solid #ee3643;
    }

    .pagination__item.pagination__item--current {
      border: 1px solid #e5e5e5;
      min-height: 38px;
      line-height: 38px;
      padding: 0px 15px;
      color: #ffffff;
      background-color: #ee3643;
      margin-right: 15px;
    }

/*Инфо блок на странице каталога*/
.info-block {}

/*Модальное окно*/
.modal {
  display: none;
  margin: 0px auto;
  position: relative;
}

  .modal.modal--write-us {
    width: 620px;
    min-height: 425px;
    border: 1px solid #000000;
    border-top: 5px solid #ff5257;
    box-shadow: 20px 0 40px 0 rgba(0, 0, 0, 0.25);
  }
  .modal.modal--map {
    width: 940px;
    height: 450px;
    box-shadow: 0 0 16px 0 rgba(47, 42, 43, 0.5);
  }
    .map {}

/*Формы*/
.form {}

.modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
}

  .write-us {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: space-between;
    padding-top: 45px;
  }

  .write-us .wrapper {
    width: 460px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .write-us .wrapper-submit {
    width: 100%;
    background-color: #f4f4f4;
    text-align: center;
  }

  .write-us label {
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 18px;
    line-height: : 18px;
    margin-bottom: 20px;
  }

  .write-us input[type="text"] {
    display: block;
    width: 220px;
    min-height: 38px;
    padding: 10px 15px;
    font-size: 13px;
    line-height: : 18px;
  }

  .write-us textarea {
    display: block;
    width: 460px;
    min-height: 114px;
    padding: 10px 15px;
    font-size: 13px;
    line-height: : 18px;
  }

  .write-us__submit {
    width: 460px;
    margin: 37px auto;
  }
